[Desktop Entry]
Type=Application
Name=El-Terminal
Comment=Lightweight borderless terminal emulator (GTK4 + VTE)
Exec=el-terminal
TryExec=el-terminal
Icon=el-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;terminal;
X-TerminalArgDir=--working-directory
X-TerminalArgExec=-e
StartupNotify=true
StartupWMClass=com.elterminal.app
